@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2E1C2, #D9C5AC)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #4b444b83;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #8C2C16;
    text-align: center;
    text-shadow: 1px 1px 0px  #66201083;
}

h2 {
    color: #736E66;
}

p {
    text-align: justify;
    color: #4B444B;
}